<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--<add name="SisAsepba" connectionString="Data Source=CARPINTERADB\SQL2016dev;Initial Catalog=ER2;Persist Security Info=True;User ID=GPAPP;Password=x37g75p52;Encrypt=True;TrustServerCertificate=True" providerName="System.Data.SqlClient" /> -->
    <add name="SisAsepba" providerName="System.Data.SqlClient" connectionString="Data Source=DESKTOP-BN0TRTM\SQLEXPRESS;Initial Catalog=SisASEPBA;Integrated Security=True" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" executionTimeout="700"/>
  </system.web>
  <system.serviceModel>


    <bindings>
      <basicHttpBinding>
        <binding maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647" />
          
        </binding>
      </basicHttpBinding>
    </bindings>

    
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>
